<div class="container">
<h2>
<%= @rooms.name %><%= "高校"%>
</h2>

<table>
<tr align="center" bgcolor="#904e17">
  <td colspan="8"><%= @actress_t.name %></td>
</tr>
<tr align="center" bgcolor="#904e17">
<td><%= @actress.name %></td>
<td></td>
<td><%= @actress1.name %></td>
<td bgcolor="#59c81d"><%= "あなたの席"%></td>
<td><%= @actress2.name %></td>
<td></td>
<td><%= @actress3.name %></td>
<td></td>
</tr>
<tr align="center" bgcolor="#904e17">
<td></td>
<td><%= @actress4.name %></td>
<td></td>
<td><%= @actress5.name %></td>
<td></td>
<td><%= @actress6.name %></td>
<td></td>
<td><%= @actress7.name %></td>
</tr>
<tr align="center" bgcolor="#904e17">
<td><%= @actress8.name %></td>
<td></td>
<td><%= @actress9.name %></td>
<td></td>
<td><%= @actress10.name %></td>
<td></td>
<td><%= @actress11.name %></td>
<td></td>
</tr>
<tr align="center" bgcolor="#904e17">
    <td colspan="8"><%= @actress_pe.name %></td>
  </tr>
</table>
</tr>
</table>

<%= form_tag("/rooms/#{@rooms.id}/destroy1") do %>
<button type="submit" class="btn btn-primary btn-lg btn-block" value="destroy">離席してトップに戻る</button>
<% end %>
<!-- ＝＝写真表示＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ -->
<a href="<%= "/actress_photos/#{@actress2.image_right_name}"%>" data-lightbox="image">
  <img src="/right.png" alt="サムネ" class="thumbnail">
</a>
<a href="<%= "/actress_photos/#{@actress1.image_left_name}"%>" data-lightbox="image1">
  <img src="/left.png" alt="サムネ" class="thumbnail">
</a>
<a href="<%= "/actress_photos/#{@actress_t.image_back_name}"%>" data-lightbox="image2">
  <img src="/front.png" alt="サムネ" class="thumbnail">
</a>
<a href="<%= "/actress_photos/#{@actress5.image_back_name}"%>" data-lightbox="image3">
  <img src="/back.png" alt="サムネ" class="thumbnail">
</a>

<!-- ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ -->
<!-- ＝＝Shareボタン＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ -->
<a href="https://twitter.com/share?url=<%= "https://moso-high-school.herokuapp.com/top" %>&text=<%= "私立妄想高校" %>" rel="nofollow" target="_blank">
  <img src ="/Twitter_Social_Icon_Rounded_Square_Color.png" width="60">
</a>
<a href="https://timeline.line.me/social-plugin/share?url=https%3a%2f%2fmoso%2dhigh%2dschool%2eherokuapp%2ecom%2ftop">
  <img src ="/LINE_APP_typeA.png" width="60">
</a>
<!-- ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ -->
</div>
<script>
 $(function(){
   if($('#test1').hasClass("test")){
     $("#test1").css("display", "none");
     }
   });
  $(function(){
    if($('#test2').hasClass("test")){
      $("#test2").css("display", "none");
      }
    });
  </script>
