 <div class="container">
   <p>高校名を入力<br></p>
   <h4>
     <%= form_tag("/rooms/find",:method => 'get') do %>
    <%= text_field_tag :search %>
    <%= submit_tag '検索', :name => nil %>
   <% end %>
   </h4>

   <% @rooms.each do |room| %>
   <div class="well">
   <ul>
     <li><%= room.name %><%= "高校"%>
     <%= link_to("入学","/rooms/#{room.id}/select")%>
     </li>
   </ul>
 </div>
   <% end %>
</div>
